body {
  font-family: "RobotoCondensed", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 300px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-width: 320px; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

input,
textarea,
button {
  outline: none !important; }

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none; }

a {
  outline: none !important; }

body {
  background-color: #fff;
  font-family: "HelveticaNeueCyr-Roman"; }

h1 {
  padding: 0;
  margin: 0; }

.hidden {
  display: none !important; }

.main-header {
  position: relative;
  height: 85px;
  z-index: 10; }

.logo {
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .logo a {
    margin-right: 34px; }
  .logo__position {
    margin-top: 7px; }

.menu__width {
  width: 100%;
  max-width: 500px;
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.menu--list {
  position: relative;
  width: 100%;
  text-align: justify; }
  .menu--list:after {
    content: '';
    display: inline-block;
    width: 100%; }
  .menu--list li {
    display: inline-block;
    vertical-align: top; }
    .menu--list li a {
      text-align: center;
      text-decoration: none;
      color: #4a6dcf;
      padding-bottom: 10px;
      font-size: 23px; }
      .menu--list li a:hover .menu--icon__position {
        margin-top: 8px; }

.menu--icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 86px;
  height: 85px;
  margin: auto;
  background-color: #fefefe;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-shadow: 2px 3.5px 3.8px 0.2px rgba(0, 0, 0, 0.33);
          box-shadow: 2px 3.5px 3.8px 0.2px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .menu--icon__position {
    margin-top: 5px; }
  .menu--icon i[class*="ic-"] {
    display: inline-block;
    content: '';
    background-image: url(../img/top-menu-icons.png);
    width: 37px;
    height: 40px; }
  .menu--icon .ic-shirt-pattern {
    background-position: 0 0; }
  .menu--icon .ic-delivery {
    background-position: -37px 0; }
  .menu--icon .ic-warranty-card {
    background-position: -74px 0; }
  .menu--icon .ic-comments {
    background-position: -111px 0; }

.order-button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .order-button--link {
    width: 178px;
    height: 93px;
    background: -webkit-gradient(linear, left bottom, left top, from(#4c851f), color-stop(42%, #4c851f), color-stop(66%, #65b029), to(#85ea37));
    background: -webkit-linear-gradient(bottom, #4c851f 0%, #4c851f 42%, #65b029 66%, #85ea37 100%);
    background: linear-gradient(to top, #4c851f 0%, #4c851f 42%, #65b029 66%, #85ea37 100%);
    border: 5px solid #fdfcfc;
    -webkit-border-radius: 16px;
            border-radius: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .order-button--link span {
      color: #fff;
      font-family: BebasNeueCyrillic;
      font-size: 38px;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 38px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .order-button--link:hover {
      margin-top: 0px; }
  .order-button__position {
    position: absolute;
    display: inline-block;
    margin-top: 33px;
    float: right;
    right: 8px;
    z-index: 2;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .order-button__position:hover {
      padding-top: 5px; }
  .order-button__bg {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    width: 100%;
    max-width: 194px;
    height: 160px;
    top: 0;
    right: 0;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
    .order-button__bg .order-button-phone__position {
      top: 32px;
      right: -60px; }
  .order-button--phone {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #4E7BDC; }
    .order-button--phone__sm {
      bottom: 5px;
      font-size: 19px;
      color: #F5F8FF; }
    .order-button--phone__lg {
      top: 4px;
      font-size: 21px;
      font-family: "HelveticaNeueCyr-Bold"; }
  .order-button--cont-list {
    width: 200%;
    position: absolute;
    left: 80px;
    top: 4px;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    z-index: 2; }

.order-button-phone {
  position: absolute;
  font-size: 41px;
  color: #4E7BDC; }
  .order-button-phone a {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.navigation-contacts {
  position: absolute;
  z-index: 2;
  right: -40px;
  top: 10px; }
  .navigation-contacts--phone-lg, .navigation-contacts--phone-sm {
    color: #4E7BDC;
    font-size: 18px; }
  .navigation-contacts--phone-lg {
    font-family: "HelveticaNeueCyr-Bold"; }
  .navigation-contacts .connect-prog {
    position: absolute;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    width: 270%;
    top: -29px;
    right: -312px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.order-button-phone {
  z-index: 2; }

.hidden-navigation__position {
  float: right;
  margin-right: 12px;
  margin-top: 36px; }

.hidden-navigation--btn {
  display: inline-block;
  content: '';
  width: 51px;
  height: 51px;
  background-image: url(../img/hidden-nav-btn.png); }

.hidden-navigation-list {
  display: none;
  list-style: none;
  border-top: 1px solid #dddcdb;
  border-bottom: 1px solid #dddcdb;
  background-color: #fff;
  padding: 10px 0;
  background-color: rgba(242, 247, 255, 0.9); }
  .hidden-navigation-list__position {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 10px 0; }
  .hidden-navigation-list li {
    text-decoration: none;
    margin-bottom: 5px;
    text-align: center; }
  .hidden-navigation-list a {
    color: #1760a6;
    font-family: "HelveticaNeueCyr-Bold";
    font-size: 23px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .hidden-navigation-list a:hover {
      color: #5F97E6;
      border-bottom: 2px solid #1760a6; }

.slider-wrap {
  width: 100%;
  max-width: 1294px;
  margin: auto; }

.slider {
  background-image: url(../images/Slider/Slider-bg.jpg);
  background-position: center; }
  .slider .container {
    padding: 0; }
  .slider div[class*="slider-item-"] {
    position: relative;
    width: 100%;
    max-height: 600px !important; }
  .slider--xs-title {
    position: absolute;
    text-align: center;
    background: rgba(1, 15, 69, 0.9);
    bottom: 0;
    margin-bottom: 30px;
    padding: 4%;
    width: 100%;
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    left: -15%;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0.5s;
    transition: all 0.4s ease 0.5s; }
  .slider--image {
    position: absolute;
    top: 0;
    right: 15%;
    opacity: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .slider--title {
    position: absolute;
    color: #fff;
    font-family: BebasNeueCyrillic;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s; }
    .slider--title__position {
      top: 0;
      left: 40%;
      margin-left: 60px;
      margin-top: 100px; }
  .slider--p {
    max-width: 485px;
    width: 100%;
    color: #fff;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s; }
    .slider--p__position {
      position: absolute;
      left: -20%;
      bottom: 0;
      margin-bottom: 130px; }
  .slider--btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 7%;
    left: 40%;
    margin-left: 60px;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s; }
    .slider--btn a {
      display: inline-block;
      width: 139px;
      height: 36px;
      padding: 0 8px;
      background-color: #fefdfd;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      color: #272828;
      font-family: OpenSansRegular;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 35px;
      text-transform: uppercase;
      border: 1px solid transparent;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .slider--btn__position {
      margin-left: 63px;
      margin-top: 17px; }
    .slider--btn:hover a {
      background: #14a8e7;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff; }

.slick-active .slider--title, .slick-active .slider--btn {
  left: 0;
  opacity: 1; }

.slick-active .slider--p {
  left: 60px;
  opacity: 1; }

.slick-active .slider--image {
  right: 0;
  opacity: 1; }

.slick-active .slider--xs-title {
  left: 0;
  opacity: 1; }

section {
  width: 100%;
  display: inline-block;
  vertical-align: top; }

.section-title {
  font-family: "BebasNeueCyrillic";
  color: #4e7bdc;
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 26px; }

.section-descr {
  font-family: "HelveticaNeueCyr-Roman";
  text-align: center;
  font-size: 30px;
  color: #353535; }

.specifics-items-wrap {
  margin-top: 30px; }

.specifics-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 275px;
  padding-right: 20px;
  font-family: "HelveticaNeueCyr-Roman";
  padding-bottom: 30px; }
  .specifics-item--name {
    color: #4e7bdc;
    font-size: 23px; }
    .specifics-item--name__position {
      margin-top: 26px; }
  .specifics-item--text {
    font-size: 19px;
    color: #353535;
    line-height: 29px; }
    .specifics-item--text__position {
      margin-top: 15px; }

.delivery {
  background-color: #5089bb;
  padding-bottom: 5px; }

.map-block {
  text-align: right;
  padding-right: 36px; }

.map-img {
  margin-right: 14px;
  margin-top: 17px; }

.partners-img {
  margin-top: 11px; }

.delivery-text {
  display: inline-block;
  color: #fff;
  font-family: BebasNeueCyrillic;
  font-size: 35px;
  letter-spacing: 3.6px;
  margin: 48px 0 23px 21px; }

.delivery-descr {
  background-color: #eee; }
  .delivery-descr img:hover {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    cursor: default; }
  .delivery-descr__wrap {
    margin-top: 30px; }
  .delivery-descr--item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 260px;
    font-family: "HelveticaNeueCyr-Roman";
    padding: 0px 5px;
    margin-bottom: 55px; }
    .delivery-descr--item p {
      text-align: left; }
    .delivery-descr--item .name {
      color: #4e7bdc;
      font-size: 23px;
      margin-top: 34px;
      margin-bottom: 19px;
      letter-spacing: 0.6px; }
    .delivery-descr--item .text {
      font-family: Helvetica;
      font-size: 19px;
      color: #353535; }

.order-wrap {
  padding-top: 212px;
  display: inline-block; }

.order {
  position: relative; }
  .order li {
    font-size: 22px;
    margin-bottom: 10px;
    list-style: none;
    position: relative;
    display: block;
    min-height: 45px;
    padding-left: 60px; }

.order-btn {
  display: table;
  margin: auto;
  z-index: 2; }
  .order-btn a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 449px;
    height: 96px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    border: 3px solid #fdfdfd;
    color: #fff;
    font-family: BebasNeueCyrillic;
    font-size: 52px;
    letter-spacing: 0.8px; }
  .order-btn__green-col {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(3%, #497f1e), color-stop(48%, #68b72b), color-stop(86%, #8bf539), to(#8bf539));
    background-image: -webkit-linear-gradient(bottom, #000 0%, #497f1e 3%, #68b72b 48%, #8bf539 86%, #8bf539 100%);
    background-image: linear-gradient(to top, #000 0%, #497f1e 3%, #68b72b 48%, #8bf539 86%, #8bf539 100%); }
  .order-btn__blue-col {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2c4990), color-stop(48%, #456fbb), color-stop(79%, #5f97e6), to(#5f97e6));
    background-image: -webkit-linear-gradient(bottom, #2c4990 0%, #456fbb 48%, #5f97e6 79%, #5f97e6 100%);
    background-image: linear-gradient(to top, #2c4990 0%, #456fbb 48%, #5f97e6 79%, #5f97e6 100%); }

.order-list {
  margin-top: 31px;
  margin-left: 66px; }
  .order-list li {
    position: relative;
    margin-bottom: 20px; }
  .order-list li:before {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -4px;
    display: inline-block;
    content: '';
    width: 45px;
    height: 45px;
    background: url(../img/marks.jpg) no-repeat; }
  .order-list__green-col li:before {
    background-position: 0 0; }
  .order-list__blue-col li:before {
    background-position: -48px 0;
    z-index: 2; }

.gift-wrap {
  position: relative; }
  .gift-wrap:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 207px;
    height: 249px;
    background-image: url(../img/gift.png);
    bottom: 0;
    margin-bottom: 14px;
    left: 50%;
    margin-left: -102px;
    z-index: -1; }

.price {
  text-align: center; }
  .price--numb {
    font-size: 100px;
    font-family: "BebasNeueCyrillic";
    padding-right: 10px; }
  .price--valute {
    font-size: 65px;
    font-family: "HelveticaNeueCyr-Roman"; }

.payments {
  text-align: justify;
  font-size: 0; }
  .payments:after {
    content: '';
    display: inline-block;
    width: 100%; }
  .payments--item {
    display: inline-block;
    text-align: center; }

.comments-block-wrap {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .comments-block-wrap div[class*="col-md-"] {
    text-align: center; }

.comments {
  background-color: #e1ecfe;
  padding-bottom: 50px; }
  .comments--item {
    width: 255px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: auto; }
    .comments--item img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 2px solid #d9d6d6; }
  .comments--plus {
    display: inline-block;
    margin: auto;
    width: 162px;
    height: 162px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 115px;
    color: #6292f4;
    background-color: #ecebeb;
    line-height: 138px;
    text-align: center;
    border: 2px solid transparent; }

.comments--item {
  margin-top: 36px;
  display: inline-block;
  vertical-align: top; }

blockquote .name,
.comments--item .name {
  display: inline-block;
  margin-top: 21px;
  font-size: 21px;
  font-family: "HelveticaNeueCyr-Roman";
  font-style: normal;
  letter-spacing: 1px;
  line-height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: default; }
  blockquote .name:hover,
  .comments--item .name:hover {
    font-size: 25px; }

blockquote .post,
.comments--item .post {
  margin-top: 6px;
  letter-spacing: 0.6px;
  font-size: 17px;
  font-family: "HelveticaNeueCyr-Bold"; }

blockquote q,
.comments--item q {
  width: 220px;
  display: inline-block;
  quotes: "\0022" "\0022";
  font-family: "HelveticaNeueCyr-LightItalic";
  text-align: left; }

blockquote .short-quote,
.comments--item .short-quote {
  font-size: 21px;
  margin-top: 20px; }

blockquote .text-quote,
.comments--item .text-quote {
  font-family: "HelveticaNeueCyr-LightItalic";
  margin-top: 38px;
  font-size: 18px;
  line-height: 28px;
  text-align: left; }

.comments--item-plus {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; }
  .comments--item-plus .name {
    text-align: left; }
  .comments--item-plus .short-quote {
    quotes: none;
    text-align: center;
    margin-top: 45px; }

.gallery {
  padding-bottom: 55px; }

.gallery-item-wrap {
  margin-top: 36px; }

.gallery-item {
  width: 257px;
  margin-bottom: 18px; }
  .gallery-item--img {
    position: relative;
    width: 100%; }
    .gallery-item--img img {
      width: 100%;
      max-width: 257px;
      height: auto;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
  .gallery-item:hover .gallery-item--link {
    opacity: 1; }
  .gallery-item--link {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 2;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .gallery-item h5 {
    display: inline-block;
    margin-top: 15%;
    width: 100%;
    font-size: 18px; }
  .gallery-item i {
    font-size: 30px;
    display: inline-block;
    margin-top: 20px; }
  .gallery-item a {
    color: #fff; }

.gallery-popup-link {
  display: inline-block;
  width: 100%;
  height: 100%; }

.more-information {
  background-color: #eeeeee;
  padding-bottom: 40px; }

.accordion--tite {
  position: relative;
  font-size: 16px;
  padding: 10px 15px;
  border-bottom: 3px solid #129bd6;
  background-color: #29b3ed;
  font-weight: normal;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "HelveticaNeueCyr-Roman"; }
  .accordion--tite:hover {
    background-color: #129cd8;
    border-bottom: 3px solid #1087ba; }
  .accordion--tite:hover .ui-icon-plusthick,
  .accordion--tite:hover .ui-icon-minusthick {
    opacity: 1; }

div [class*="ui-icon-"] {
  position: absolute !important;
  background-image: url(../libs/accordion/images/ui-icons_ffffff_256x240.png);
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  margin-top: 14px;
  margin-right: 20px;
  opacity: 0.6; }
  div [class*="ui-icon-"]:hover {
    opacity: 1; }

.ui-icon-plusthick {
  background-position: -32px -128px; }

.ui-icon-minusthick {
  background-position: -64px -128px; }

.accordion-table {
  position: relative;
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto 20px auto; }
  .accordion-table tr:nth-child(2) td {
    font-weight: bold; }
  .accordion-table tr:nth-child(2n) {
    background: #b2cdfd; }
  .accordion-table td {
    text-align: center;
    padding: 15px; }
  .accordion-table .accordion-img {
    text-align: left;
    padding: 0;
    width: 160px;
    background: #eeeeee; }

.accordion--content p {
  color: #0a0a0a;
  font-family: OpenSansRegular;
  font-size: 16px;
  line-height: 27px;
  padding: 0px 10px 17px 10px; }

.social {
  text-align: center; }
  .social .social-wrap {
    display: inline-block;
    width: 100%;
    height: 415px;
    overflow: hidden; }
  .social--title {
    color: #fff;
    font-family: "BebasNeueCyrillic";
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.9px;
    margin-top: 105px; }
  .social ul {
    margin-top: 55px; }
  .social li {
    display: inline-block;
    width: 135px; }

div [class*="ic-social-"] {
  display: inline-block;
  content: '';
  width: 83px;
  height: 82px;
  background-image: url(../img/social.png); }

.ic-social-facebook {
  background-position: 0 0; }

.ic-social-vk {
  background-position: -80px 0; }

.ic-social-instagram {
  background-position: -170px 0; }

.social {
  min-height: 420px;
  background: url(../img/social-bg-lg.jpg) #272324 no-repeat center center fixed; }

.contacts {
  padding: 0 5px;
  padding-bottom: 100px;
  color: #4e7bdc;
  font-family: BebasNeueCyrillic;
  font-variant: small-caps;
  text-align: center; }
  .contacts--title {
    line-height: 60px;
    font-size: 41px;
    margin-top: 58px; }
  .contacts--phone {
    font-size: 62px;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #549526; }
  .contacts--alt-phote-txt {
    font-size: 41px;
    line-height: 60px;
    letter-spacing: 2px;
    margin-top: 45px; }
  .contacts--alt-phote {
    font-size: 65px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
    margin-top: 8px; }

.connect-prog {
  text-align: center;
  margin-top: 20px; }
  .connect-prog li {
    display: inline-block;
    width: 90px; }

div[class*='connect-ic-'],
a[class*='connect-ic-'] {
  display: inline-block;
  width: 66px;
  height: 67px;
  content: '';
  background-image: url(../img/connect-prog.png); }

.connect-ic-whatsapp {
  background-position: 0 0; }

.connect-ic-viber {
  background-position: -63px 0; }

.connect-ic-telegram {
  background-position: -131px 0; }

.connect-ic-sms {
  background-position: -200px 0; }

.order-form {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1032px;
  min-height: 600px;
  background-color: #7282a4;
  padding: 55px 68px 30px 68px; }
  .order-form form {
    margin-top: 53px;
    text-align: center; }
  .order-form h2 {
    color: #fcfafa;
    font-family: BebasNeueCyrillic;
    font-size: 31px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.6px; }
  .order-form p {
    color: #fcfafa;
    font-family: BebasNeueCyrillic;
    font-size: 29px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 19px;
    letter-spacing: 1.2px; }
  .order-form input {
    width: 100%;
    background-color: #fafbfc;
    border: 0.92px solid #b1afae;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    height: 65px;
    color: #878484;
    font-family: "HelveticaNeueCyr-Bold";
    font-size: 25px;
    line-height: 30px;
    padding: 0 23px;
    margin-bottom: 34px; }
  .order-form textarea {
    display: inline-block;
    width: 422px;
    height: 220px;
    background-color: #fefeff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    vertical-align: top;
    color: #878484;
    font-family: "HelveticaNeueCyr-Bold";
    font-size: 31px;
    padding: 10px 23px;
    resize: vertical;
    float: right; }
  .order-form .button {
    display: inline-block;
    width: 100%;
    max-width: 418px;
    height: 95px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#33559d), color-stop(51%, #3d63ad), to(#639cec));
    background-image: -webkit-linear-gradient(bottom, #33559d 0%, #3d63ad 51%, #639cec 100%);
    background-image: linear-gradient(to top, #33559d 0%, #3d63ad 51%, #639cec 100%);
    border: 3.8px solid #fcfbfb;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    text-align: center;
    color: #fefbfb;
    font-family: BebasNeueCyrillic;
    font-size: 40px;
    line-height: 30px;
    text-transform: uppercase; }
    .order-form .button__green {
      background-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(3%, #497f1e), color-stop(48%, #68b72b), color-stop(86%, #8bf539), to(#8bf539));
      background-image: -webkit-linear-gradient(bottom, #000 0%, #497f1e 3%, #68b72b 48%, #8bf539 86%, #8bf539 100%);
      background-image: linear-gradient(to top, #000 0%, #497f1e 3%, #68b72b 48%, #8bf539 86%, #8bf539 100%); }

.input-block {
  width: 422px;
  display: inline-block;
  vertical-align: top; }

.comment-form {
  text-align: center; }
  .comment-form input,
  .comment-form textarea {
    width: 100%;
    max-width: 593px;
    float: none; }
  .comment-form textarea {
    margin-bottom: 34px; }

.h100p {
  height: 100%; }

.drop-down-nav {
  display: none;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100; }
  .drop-down-nav .logo__position {
    margin-top: 0; }
  .drop-down-nav .order-button__position {
    width: 100%;
    margin: 0; }
  .drop-down-nav .order-button {
    margin: 4px auto 0px auto; }
    .drop-down-nav .order-button--link {
      height: 64px; }
  .drop-down-nav .hidden-navigation__position {
    margin-top: 12px; }
  .drop-down-nav .hidden-navigation-list__position {
    position: fixed;
    top: 81px; }
  .drop-down-nav--contacts {
    margin-top: 20px; }
    .drop-down-nav--contacts .contacts--phone,
    .drop-down-nav--contacts .contacts--alt-phote {
      font-size: 24px;
      line-height: 24px;
      margin-top: 0;
      color: #1760a6; }
    .drop-down-nav--contacts .contacts--alt-phote {
      margin-top: -10px; }
    .drop-down-nav--contacts .contacts--phone {
      font-family: "HelveticaNeueCyr-Bold"; }
    .drop-down-nav--contacts .connect-prog {
      -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
              transform: scale(0.6);
      margin-top: -10px; }
    .drop-down-nav--contacts .contacts--alt-phote-txt {
      font-size: 21px;
      line-height: 21px;
      margin: 0; }
  .drop-down-nav .order-button-phone__position {
    right: -50px;
    top: 9px; }

.drop-down-nav--contacts a:hover {
  border-bottom: none; }

.mfp-close {
  font-size: 45px; }

#add-contacts {
  padding-bottom: 20px;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d5d5d5), to(#fefefd));
  background-image: -webkit-linear-gradient(bottom, #d5d5d5 0%, #fefefd 100%);
  background-image: linear-gradient(to top, #d5d5d5 0%, #fefefd 100%); }

.color-blue {
  color: #4b7adc; }
