body {
  font-family: "RobotoCondensed", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 300px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-width: 320px; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none; }

a {
  outline: none; }

body {
  background-color: #fff;
  font-family: "HelveticaNeueCyr-Roman"; }

h1 {
  padding: 0;
  margin: 0; }

.hidden {
  display: none !important; }

.main-header {
  position: relative;
  height: 85px;
  z-index: 10; }

.logo {
  text-align: right;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .logo a {
    margin-right: 34px; }
  .logo__position {
    margin-top: 7px; }

.menu__width {
  width: 100%;
  max-width: 500px;
  position: absolute;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
.menu--list {
  position: relative;
  width: 100%;
  text-align: justify; }
  .menu--list:after {
    content: "";
    display: inline-block;
    width: 100%; }
  .menu--list li {
    display: inline-block;
    vertical-align: top; }
    .menu--list li a {
      text-align: center;
      text-decoration: none;
      color: #4a6dcf;
      padding-bottom: 10px;
      font-size: 23px; }
      .menu--list li a:hover .menu--icon__position {
        margin-top: 8px; }
.menu--icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 85px;
  margin: auto;
  background-color: #fefefe;
  border-radius: 15px;
  box-shadow: 2px 3.5px 3.8px 0.2px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .menu--icon__position {
    margin-top: 5px; }
  .menu--icon i[class*="ic-"] {
    display: inline-block;
    content: "";
    background-image: url(../img/top-menu-icons.png);
    width: 37px;
    height: 40px; }
  .menu--icon .ic-shirt-pattern {
    background-position: 0 0; }
  .menu--icon .ic-delivery {
    background-position: -37px 0; }
  .menu--icon .ic-warranty-card {
    background-position: -74px 0; }
  .menu--icon .ic-comments {
    background-position: -111px 0; }

.order-button {
  display: table;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .order-button--link {
    display: table-cell;
    vertical-align: middle;
    width: 178px;
    height: 93px;
    background: linear-gradient(to top, #4c851f 0%, #4c851f 42%, #65b029 66%, #85ea37 100%);
    border: 5px solid #fdfcfc;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .order-button--link span {
      color: #fff;
      font-family: BebasNeueCyrillic;
      font-size: 38px;
      font-weight: 400;
      letter-spacing: 2px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .order-button--link:hover {
      margin-top: 36px; }
  .order-button__position {
    position: absolute;
    display: inline-block;
    margin-top: 33px;
    float: right;
    right: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.hidden-navigation__position {
  float: right;
  margin-right: 12px;
  margin-top: 36px; }
.hidden-navigation--btn {
  display: inline-block;
  content: "";
  width: 51px;
  height: 51px;
  background-image: url(../img/hidden-nav-btn.png); }

.hidden-navigation-list {
  display: none;
  list-style: none;
  border-top: 1px solid #dddcdb;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-left: 22px; }
  .hidden-navigation-list li {
    text-decoration: none;
    margin-bottom: 5px; }
  .hidden-navigation-list a {
    color: #1760a6;
    font-family: "HelveticaNeueCyr-Bold";
    font-size: 23px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 1px; }

.slider-wrap {
  width: 100%;
  max-width: 1294px;
  margin: auto; }

.slider div[class*="slider-item-"] {
  position: relative;
  width: 100%;
  height: 600px; }
.slider-item-1 {
  background-image: url(../images/Slider/Slider-1.jpg);
  background-position: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
.slider--title {
  color: #fff;
  font-family: BebasNeueCyrillic;
  font-size: 74px;
  line-height: 74px;
  text-transform: uppercase;
  letter-spacing: 4px; }
  .slider--title__position {
    margin-top: 98px;
    margin-left: 42px; }
.slider--p {
  max-width: 485px;
  color: #fff;
  font-family: HelveticaNeueCyr-Roman;
  font-size: 17px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.5px; }
  .slider--p__position {
    margin-top: 24px;
    margin-left: 48px; }
.slider--btn a {
  display: inline-block;
  width: 139px;
  height: 36px;
  padding: 0 8px;
  background-color: #fefdfd;
  border-radius: 5px;
  color: #272828;
  font-family: OpenSansRegular;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 35px;
  text-transform: uppercase; }
.slider--btn__position {
  margin-left: 50px;
  margin-top: 17px; }

section {
  width: 100%;
  display: inline-block;
  vertical-align: top; }

.section-title {
  font-family: "BebasNeueCyrillic";
  color: #4e7bdc;
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 26px; }

.section-descr {
  font-family: "HelveticaNeueCyr-Roman";
  text-align: center;
  font-size: 30px;
  color: #353535; }

.specifics-items-wrap {
  margin-top: 30px;
  text-align: justify; }
  .specifics-items-wrap:after {
    content: "";
    display: inline-block;
    width: 100%; }

.specifics-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 275px;
  padding-right: 20px;
  font-family: "HelveticaNeueCyr-Roman"; }
  .specifics-item--name {
    color: #4e7bdc;
    font-size: 23px; }
    .specifics-item--name__position {
      margin-top: 26px; }
  .specifics-item--text {
    font-size: 19px;
    color: #353535;
    line-height: 29px; }
    .specifics-item--text__position {
      margin-top: 15px; }

.delivery {
  background-color: #5089bb;
  padding-bottom: 5px; }

.map-block {
  text-align: right;
  padding-right: 36px; }

.map-img {
  margin-right: 14px;
  margin-top: 17px; }

.partners-img {
  margin-top: 11px; }

.delivery-text {
  display: inline-block;
  color: #fff;
  font-family: BebasNeueCyrillic;
  font-size: 35px;
  letter-spacing: 3.6px;
  margin: 48px 0 23px 21px; }

.delivery-descr {
  background-color: #eee; }
  .delivery-descr__wrap {
    text-align: justify;
    margin-top: 30px; }
    .delivery-descr__wrap:after {
      content: "";
      display: inline-block;
      width: 100%; }
  .delivery-descr--item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 260px;
    font-family: "HelveticaNeueCyr-Roman";
    padding: 0px 5px;
    margin-bottom: 55px; }
    .delivery-descr--item p {
      text-align: left; }
    .delivery-descr--item .name {
      color: #4e7bdc;
      font-size: 23px;
      margin-top: 34px;
      margin-bottom: 19px;
      letter-spacing: 0.6px; }
    .delivery-descr--item .text {
      font-family: Helvetica;
      font-size: 19px;
      color: #353535; }

.order-wrap {
  padding-top: 212px; }

.order li {
  font-size: 2.2rem;
  margin-bottom: 10px;
  list-style: none;
  position: relative;
  display: block;
  min-height: 45px;
  padding-left: 60px; }

.order-btn {
  display: table;
  margin: auto;
  z-index: 2; }
  .order-btn a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 449px;
    height: 96px;
    border-radius: 15px;
    border: 3px solid #fdfdfd;
    color: #fff;
    font-family: BebasNeueCyrillic;
    font-size: 52px;
    letter-spacing: 0.8px; }
  .order-btn__green-col {
    background-image: linear-gradient(to top, #000 0%, #497f1e 3%, #68b72b 48%, #8bf539 86%, #8bf539 100%); }
  .order-btn__blue-col {
    background-image: linear-gradient(to top, #2c4990 0%, #456fbb 48%, #5f97e6 79%, #5f97e6 100%); }

.order-list {
  margin-top: 31px;
  margin-left: 66px; }
  .order-list li {
    position: relative;
    margin-bottom: 20px; }
  .order-list li:before {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -4px;
    display: inline-block;
    content: "";
    width: 45px;
    height: 45px;
    background: url(../img/marks.jpg) no-repeat; }
  .order-list__green-col li:before {
    background-position: 0 0; }
  .order-list__blue-col li:before {
    background-position: -48px 0;
    z-index: 2; }

.gift-wrap {
  position: relative; }
  .gift-wrap:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 207px;
    height: 249px;
    background-image: url(../img/gift.png);
    left: 0;
    bottom: 0;
    margin-bottom: 14px;
    margin-left: 166px;
    z-index: -1; }

.price {
  text-align: center; }
  .price--numb {
    font-size: 100px;
    font-family: "BebasNeueCyrillic";
    padding-right: 10px; }
  .price--valute {
    font-size: 65px;
    font-family: "HelveticaNeueCyr-Roman"; }

.payments {
  text-align: justify; }
  .payments:after {
    content: "";
    display: inline-block;
    width: 100%; }
  .payments img {
    display: inline-block; }
